@charset "UTF-8";

@font-face {
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-family: text;
}

div#content {
  width: 70%;
  font-family: text;
  margin: auto;

}

div#content p{
  color: #808080;
  text-align: justify;
}

div#content section{

}
div#content footer{
  padding: 10px;
  margin: auto;
}

div#content footer img{
  display: block;
  margin: auto;
  margin-top: 130px;
  width: 50%;
  position: relative;
}
