@charset "UTF-8";

@font-face {
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-family: text;
}


div#content {
  width: 70%;
  font-family: text;
  margin: auto;
  padding: 15px;
}

div#content a {
  text-decoration: none;
}

div#content p {
  color: #808080;
  text-align: justify;
}

article#logica ul {
  display: table;
  margin: auto;
}

article#logica li{
  display: inline-block;
  padding: auto;
}
article#logica h5{
  margin: -5px;
  text-align: center;
}
