@charset "UTF-8";

div#topbar {
  background-color: black;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -24px;
  padding: 10px;
  display: block;
  position: relative;
}

header#header img{
  width: 20%;
  padding: 30px;
  position: relative;
  margin-left: 20px;
}

header#header a{
  color: white;
  text-decoration: none;
}

nav#navbar{
  margin-top: -100px;
  position: static;
  font-size: 12pt;
}
nav#navbar ul {
  position: sticky;
  text-align: right;
  text-transform: uppercase;
  overflow: hidden  ;
}
nav#navbar li{
  display: inline-block;
  padding-right: 30px;
  font-size: 12px;
}

nav#navbar a {

  text-decoration: none;
  color: white;
}
