@charset "UTF-8";
@font-face {
  font-family: menu;
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

div#topbar {
  background-color: black;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -24px;
  padding: 10px;
  display: block;
  position: relative;
}

header#header img{
  width: 20%;
  padding: 30px;
  position: relative;
  margin-left: 20px;
  align-self: center;
}

header#header a{
  color: white;
  text-decoration: none;
}

nav#navbar{
  margin-top: -100px;
  position: static;
  display: block;
}
nav#navbar ul {
  position: sticky;
  text-align: right;
  font-family: menu;
  text-transform: uppercase;
  overflow: hidden;
}
nav#navbar li{
  display: inline-block;
  padding-right: 30px;
  font-size: 12px;
}

nav#navbar a {
  text-decoration: none;
  color: white;
}
